.tophead{
    width: 100%;
    height: 10vh;
    /* background-color: rgb(78, 255, 62); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid rgb(173, 172, 172);
   
}

.hd1{
    width: 80%;
    height: 9vh;
    /* background-color: rgb(68, 49, 49);  */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    
}
.hda{
    width: 50%;
    height: 9vh;
    /* background-color: rgb(240, 98, 98);  */
    display: flex;
    justify-content: left;
    align-items: center;
}

.hdb{
    width: 45%;
    height: 9vh;
    /* background-color: rgb(12, 14, 151);  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
    font-size: 100%;
}


/* +++++++++++++++++++++++ */

.tophead1{
    width: 100%;
    height: 10vh;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -2px 4px 6px rgba(158, 158, 158, 0.5);
   
}

.thd1{
    width: 80%;
    height: 9vh;
    /* background-color: rgb(68, 49, 49);  */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    
}
.thda{
    width: 50%;
    height: 9vh;
    /* background-color: rgb(240, 98, 98);  */
    display: flex;
    justify-content: left;
    align-items: center;
}

.lg{
    width: 55%;
    height: 7vh;
    /* background-color: rgb(98, 240, 122);  */
    display: flex;
    justify-content: left;
    align-items: center;
}

.lg2{
    width: 30%;
    height: 5vh;
    /* background-color: rgb(98, 240, 122);  */
    display: flex;
    justify-content: left;
    align-items: center;
}


.thdb{
    width: 45%;
    height: 9vh;
    /* background-color: rgb(12, 14, 151);  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
    font-size: 100%;
}



/* ++++++++++++++++++++++++++++++++++++= */

.tophead2{
    width: 100%;
    height: 10vh;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px -2px 5px 10px rgba(0, 0, 0, 0.5); */
    
}

.thd1{
    width: 80%;
    height: 9vh;
    /* background-color: rgb(68, 49, 49);  */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    
}
.thda{
    width: 38%;
    height: 8vh;
    /* background-color: rgb(240, 98, 98);  */
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    font-size: 160%;
}

.thdb{
    width: 50%;
    height: 8vh;
    /* background-color: rgb(12, 14, 151);  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-weight: bolder;
    font-size: 125%;
    
}


.hdc{
    width: 12%;
    height: 5vh;
    background-color: rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    color: white;   
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++ */
.mherocon{
    width: 100%;
    height: 60vh;
    /* background-color: rgb(223, 190, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.herocon{
    width: 80%;
    height: 58vh;
    /* background-color: rgb(0, 228, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    width: 55%;
    height: 60vh;
    /* background-color: rgb(0, 44, 241); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    
}

.crm{
    font-family: arial;
    color: rgb(3, 3, 3);
    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    font-size: 33%;

}

span{
    /* background-color: rgb(141, 140, 140); */
    width: 10%;
    height: 4.3vh;
    border-radius: 18px;
    display: flex;
    justify-content:center;
    align-items: center;
}


h1{
    font-size: 320%;
    font-weight: bolder;
    /* background-color: beige; */
}

h2{
    font-family: arial;
    color: rgb(70, 69, 69);
}

.btn{
    /* background-color: aqua; */
    width: 100%;
    height: 20vh;
    /* margin: 5px; */
}

.btn1{
    /* background-color: aqua; */
    width: 33%;
    height: 7vh;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 110%;
    cursor: pointer;
}


.btn2{
    /* background-color: aqua; */
    width: 33%;
    height: 7vh;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin: 0px 40px;
    border: solid 2px black;
    font-size: 110%;
    cursor: pointer;
}


.box2 img{
    width: 100%;
    height: 55vh;
    /* background-color: rgb(207, 46, 46); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;


}

/* +++++++++++++++++++++++++++++++++++++++++++= */

.word{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    /* background-color: rgb(250, 6, 6); */
}

.iword{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 60%;
    height: 10vh;
    /* background-color: rgb(14, 250, 6); */
    font-weight: bolder;
    font-size: 270%;
}


.mherocon2{
    width: 100%;
    height: 50vh;
    /* background-color: rgb(184, 175, 125); */
    display: flex;
    justify-content: center;
    align-items: left;
}


.herocon2{
    width: 80%;
    height: 40vh;
    /* background-color: rgb(0, 118, 228); */
    display: flex;
    justify-content: center;
    align-items: left;
 
}

.b1{
    /* background-color: rgb(233, 232, 232); */
    width: 17%;
    /* height: 50vh; */
    font-weight: bolder;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 40px;

}

.p1{
    width: 50%;
    height: 27vh;
}
.p1x{
    width: 100%;
    height: 35vh;
}

.b{
    width: 100%;
    /* background-color: blue; */
    text-align: center;
  
}

/* +++++++++++++++++++++++++++++++++++++++++++= */

.word1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: rgb(221, 219, 219);
    font-weight: bolder;
    font-size: 250%;
}



.mherocon3{
    width: 100%;
    height: 70vh;
    background-color: rgb(221, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}


.herocon3{
    width: 80%;
    height: 70vh;
    /* background-color: rgb(0, 118, 228);   */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b2{
    /* background-color: rgb(233, 232, 232); */
    width: 32%;
    height: 70vh;
    font-weight: bolder;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.p1{
    width: 100%;
    height: 27vh;
}

b{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.c{
    width: 100%;
    /* background-color: rgb(71, 71, 92);    */
    text-align: center;
    line-height: 35px;
  
}

/* +++++++++++++++++++++++++++++++++++++++++++ */

.mherocon4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}


.herocon4{
    width: 80%;
    height: 92vh;
    /* background-color: rgb(0, 118, 228);   */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b2a{
    /* background-color: rgb(172, 235, 0); */
    width: 48%;
    height: 90vh;
   
}

.p1aa{
    filter: blur(4px);
    -webkit-filter: blur(1.5px);
    width: 100%;
    height: 75vh;
}


.find{
    font-size: 100%;
    color: black;
    /* background-color: rgb(192, 192, 192); */
    border-radius: 20px;
    width: 47%;
    text-align: center;
    
}

.findz{
    font-size: 100%;
    color: black;
    /* background-color: rgb(192, 192, 192); */
    border-radius: 20px;
    width: 40%;
    text-align: center;
    
}

.findy{
    font-size: 100%;
    color: black;
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    width: 35%;
    text-align: center;
    
}
.findx{
    font-size: 100%;
    color: black;
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    width: 62%;
    text-align: center;
    
}

.Attract{
    font-size: 210%;
    color: black;
    
}

.top{
    font-size: 130%;
    color: black;
}

.learn{
    color: rgb(255, 0, 0);
    cursor: pointer;
}


.p1a{
    width: 100%;
    height: 75vh;
}

.ca{
    /* background-color: rgb(162, 179, 13); */
    width: 100%;
    height: 90vh;
    /* font-weight: bolder;
    font-size: 120%; */
  
    
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */

.mherocon5{
    width: 100%;
    height: 95vh;
    /* background-color: rgb(172, 156, 6); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.herocon5{
    width: 80%;
    height: 95vh;
    /* background-color: rgb(0, 118, 228);   */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b2a{
    /* background-color: rgb(233, 232, 232); */
    width: 48%;
    height: 90vh;
    font-weight: bolder;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ix{
    width: 4%;
    height: 3vh;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */